.carousel {
    width: 500px;
    height: 300px;
    /*outline: 1px solid blue;*/
    white-space: nowrap;
    overflow: hidden;
}
.carousel > img {
    display: inline-block;
    width: 500px;
    height: 300px;
    /*transition: ease 1s;*/
}